/**********************************************************************************************/
/****************************************** scrollToTop ***************************************/
/**********************************************************************************************/

.top-to-btm {
    position: relative;
    z-index: 2000;
}

.icon-position {
    position: fixed;
    top: 100vw;
    right: 25px;
    z-index: 20;
}

.icon-style {
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 2px rgb(241,162,49);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: rgb(241,162,49);
    cursor: pointer;
    transition: all .7s ease-in-out;
}

.icon-style:hover {
    animation: none;
    border: solid 2px rgb(88, 132, 189);
    color: rgb(88, 132, 189);
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /****************************************** scrollToTop ***************************************/
    /**********************************************************************************************/

    .icon-position {
      top: 150px;
      z-index: 3000;
    }
}